@model leave_management.Models.LeaveRequestViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Reviewing @Model.RequestingEmployee.FirstName @Model.RequestingEmployee.LastName 's Leave Request</h1>
<h4>
    @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
</h4>

<div>
    <h4>LeaveRequestViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestingEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestingEmployee.FirstName) @Html.DisplayFor(model => model.RequestingEmployee.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateActioned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateActioned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy.Id)
        </dd>*@
    </dl>
</div>
<div>
    @if (Model.Approved == null)
    {
        <a class="btn btn-success" asp-action="ApproveRequest" asp-route-id="@Model.Id">
            <i class="fa fa-tick"></i>
            Approve
        </a>
        <a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
            <i class="fa fa-remove"></i>
            Reject
        </a>
    }
    <a class="btn btn-outline-secondary" asp-action="Index">
        <i class="fa fa-arrow-left"></i>
        Back to List
    </a>
</div>
